/* Estilos generales */
body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Contenedor principal */
.container {
    max-width: 100%;
    width: 100%;
    max-width: 600px; /* Ajuste para pantallas grandes */
    margin: 0 auto;
    padding: 20px;
}

/* Estilos para los títulos */
.title {
    font-size: 1.8rem;
    font-weight: 700;
    text-align: center;
    color: #4CAF50;
    margin-bottom: 0.5rem;
}

.subtitle {
    font-size: 1.2rem;
    font-weight: 400;
    text-align: center;
    color: #333;
    margin-bottom: 1rem;
}

/* Botón de regreso */
#btn_back {
    background-color: #a5d6a7;
    color: white;
    border: none;
    border-radius: 50px;
    padding: 10px 20px;
    margin-bottom: 15px;
    display: inline-block;
    font-size: 1rem;
    transition: background-color 0.3s;
}

#btn_back:hover {
    background-color: #81c784;
}

/* Formulario */
form {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin-top: -120px;
    width: 450px;
    margin-left: 400px;
}

/* Estilos para los inputs y su contenedor */
.form-group {
    margin-bottom: 10px;
}

.form-group label {
    font-size: 1rem;
    color: #333;
    font-weight: bold;
    margin-bottom: 5px;
    display: block;
}

.form-group input[type="text"],
.form-group input[type="email"],
.form-group input[type="date"] {
    width: 100%; /* Ajuste a 80% del contenedor para hacer los inputs más pequeños */
    max-width: 400px; /* Limita el ancho máximo a 400px */
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-top: 5px;
    margin-bottom: 10px;
    font-size: 0.9rem;
}

.form-group input[type="text"]:focus,
.form-group input[type="email"]:focus,
.form-group input[type="date"]:focus {
    border-color: #4CAF50;
    outline: none;
}

/* Botón de actualización */
button[type="submit"] {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 8px 15px;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 100%;
}

button[type="submit"]:hover {
    background-color: #45a049;
}

/* Alineación */
.text-center {
    text-align: center;
}

/* Estilos para móviles */
@media screen and (max-width: 768px) {
    .container {
        padding: 10px;
    }

    .title {
        font-size: 1.5rem;
    }

    .subtitle {
        font-size: 1rem;
    }

    .form-group input[type="text"],
    .form-group input[type="email"],
    .form-group input[type="date"] {
        width: 100%; /* Asegura que los inputs ocupen el ancho completo en pantallas pequeñas */
    }

    button[type="submit"] {
        font-size: 1rem;
    }
}
